

.basketball-bets-page {
  padding: 20px; /* Add 20px padding around the entire content */
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align content to the top left */
  padding-left: 200px; /* Add padding to the left */
}

.basketball-bets-page h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
  color: #ffffff;
  font-size: 39px;
  margin-bottom: 20px;
  padding-left: 200px; /* Add padding to the left */
}

.bets-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1300px; /* Default for larger screens */
  padding-left: 200px;
}

@media (max-width: 2000px) {
  .bets-list {
    max-width: 1000px; 
  }
}

@media (max-width: 1500px) {
  .bets-list {
    max-width: 900px !important;
  }
}

@media (max-width: 768px) {
  .bets-list {
    max-width: 100%;
  }
}

.bet-item {
  background-color: #213743;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between sections */
}

.bet-date {
  font-size: 18px;
  font-weight: 550;
  width: 20%;
}

.bet-teams {
  display: flex;
  justify-content: space-between;
  align-items: stretch; /* Stretch to fill the height */
  width: 100%;
}

.team-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 550;
  gap: 30px; /* Increase the spacing between team names */
  flex: 1; /* Allow team-info to take available space */
  justify-content: center; /* Center team-info vertically */
}

.bet-odds-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center align vertically */
  flex: 1; /* Allow wrapper to take available space */
  height: 100%;
}

.bet-odds {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the odds box vertically */
  justify-content: center; /* Center align vertically */
  gap: 10px; /* Space between winner text and odds boxes */
}

.winner {
  font-size: 16px;
  color: #c4dff6;
  text-align: center; /* Center align the winner text */
}

.odds {
  display: flex;
  gap: 20px; /* Space between team odds */
}

.team-odds {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align the team odds box */
}

.odds-box {
  background-color: #13232E;
  padding: 10px 30px; /* Increase padding to make the box larger */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align content */
}

.team-name {
  font-size: 18px;
  font-weight: 550;
}

.odds-value {
  font-size: 20px;
  color: #FFD700;
}
