.basketball-bets-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.basketball-bets-page h1 {
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
  color: #ffffff;
  font-size: 39px;
  margin-bottom: 20px;
  padding-left: 200px;
}

.bets-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 1300px;
  padding-left: 200px;
}

@media (max-width: 2000px) {
  .bets-list {
    max-width: 1000px;
  }
}

@media (max-width: 1500px) {
  .bets-list {
    max-width: 900px !important;
  }
}

@media (max-width: 768px) {
  .bets-list {
    max-width: 100%;
  }
}

.bet-item {
  background-color: #213743;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bet-date {
  font-size: 18px;
  font-weight: 550;
}

.bet-teams {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}

.team-info {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 550;
  gap: 10px;
  flex-basis: 25%; /* Adjust this value to end at the black line */
  max-width: 25%; /* Adjust this value to end at the black line */
  justify-content: center;
}

.bet-odds-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 20px;
  flex-basis: 75%; /* Adjust this value to take the remaining space */
  max-width: 75%; /* Adjust this value to take the remaining space */
}

.bet-odds {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0px;
  position: relative;
}

.winner {
  font-size: 16px;
  color: #c4dff6;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
}

.odds {
  display: flex;
  gap: 10px;
  text-align: left;
}

.team-odds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.odds-box {
  background-color: #13232E;
  width: 265px; /* Set a fixed width for the box */
  padding: 10px; /* Set padding to only top and bottom to avoid vertical growth */
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s; /* Add transition for smooth effect */
}

.odds-box:hover {
  background-color: #b8860b; /* Darker gold on hover */
}

.team-odds.selected .odds-box {
  background-color: #e8c500; /* Gold on click */
  color: #ffffff; /* Change text color to white on click */
}

.team-odds.selected .team-name {
  color: #000000; /* Change team name to black on click */
}

.team-odds.selected .odds-value {
  color: white; /* Change team name to black on click */
}

.team-name {
  font-size: 18px;
  font-weight: 550;
}

.odds-value {
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
  font-size: 20px;
  color: inherit; /* Inherit color from parent */
  margin-top: 5px;
  color: #FFD700;
}
