.header {
  background-color: #1A2C38;
  color: #EEAF0E;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: relative;
  font-family: 'Fredoka', sans-serif;
  text-decoration: none;
}

.logo-wrapper {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo a {
  color: #EEAF0E;
  font-size: 40px;
  font-weight: 550;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s;
}

.logo a:hover {
  color: #c98a0e;
}

.auth-buttons {
  display: flex;
  margin-left: auto;
  margin-right: 65px;
}

.auth-buttons .btn {
  width: 107px;
  height: 52px;
  font-size: 20px;
  border-radius: 10px;
  font-weight: 550;
  margin-left: 10px;
  font-family: 'Fredoka', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button {
  background-color: #214055;
  color: #fff;
  border: none;
}

.login-button:hover {
  background-color: #1a3147;
}

.register-button {
  background-color: #EEAF0E;
  color: #fff;
  border: none;
}

.register-button:hover {
  background-color: #d4980e;
}

/* Styles for the logged-in state */
.logged-in .header {
  justify-content: space-between;
}

.logged-in .logo-wrapper {
  position: static;
  transform: none;
  margin-left: calc(186px + 85px);
}

.logged-in .auth-buttons {
  display: none;
}

.wallet-container {
  display: flex;
  align-items: center;
  position: absolute;
  left: 55%;
  transform: translateX(-50%);
}

.wallet-amount {
  display: flex;
  align-items: center;
  background-color: #214055;
  padding: 11px 25px;
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px 0 0 5px;
  border-right: none;
  font-weight: 550;
}

.wallet-amount img {
  margin-left: 5px;
  width: 20px;
  height: 20px;
}

.wallet-button {
  background-color: #EDAF0D;
  color: #FFFFFF;
  padding: 11px 20px;
  border-radius: 0 5px 5px 0;
  font-size: 16px;
  border: none;
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
  transition: background-color 0.3s; /* Add transition for smooth effect */
}

.wallet-button:hover {
  background-color: #c8920b; /* Darker color on hover */
}

.profile-icon {
  margin-left: auto;
  margin-right: 65px; /* Align the profile icon with the auth buttons when not logged in */
}

.profile-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  transition: filter 0.3s; /* Add transition for smooth effect */
}

.profile-icon img:hover {
  filter: brightness(0.8); /* Darken the icon on hover */
}
