html, body {
  background-color: #1A2C38;
  height: 100%;
  width: 100%;
  font-family: 'Fredoka', sans-serif;
}

.main-content {
  background-color: #0F212E;
  min-height: 100vh;
  height: auto;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  border-radius: 30px 0 0 0;
}

.section, .payment-section, .bottom-sections {
  display: flex;
  background-color: #1A2C38;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto; 
  width: 90%; 
  max-width: 1600px; 
  box-sizing: border-box; 
}

.image-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 0 0 10px; 
}

.text-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
}

.text-container h2 {
  color: white;
  margin: 0;
  font-weight: 550;
  font-size: 39px;
  font-family: 'Fredoka', sans-serif;
}

.text-container p {
  color: #CECECE;
  margin: 10px 0;
  font-weight: 550;
  font-size: 25px;
  padding-bottom: 10px;
}

.section-register-button {
  background-color: #EEAF0E;
  color: white;
  border: none;
  padding: 20px 80px;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 26px; 
  width: 100%;
  font-weight: 550;
  font-family: 'Fredoka', sans-serif; 
  transition: background-color 0.3s ease; 
}

.section-register-button:hover {
  background-color: #D18F0A; 
}

.continue-with {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: center;
}

.continue-with p {
  color: white;
  margin: 10px 20px;
  font-weight: 550;
  font-size: 15px; 
  background-color: #1A2C38; 
  padding: 0 10px; 
}

.continue-with hr {
  flex: 1;
  border: none;
  height: 1px;
  background-color: #666666;
  margin: 0 10px; 
}

.social-buttons {
  display: flex;
  gap: 35px; 
}

.social-button {
  display: flex;
  align-items: center;
  background-color: #214055;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 550;
  font-family: 'Fredoka', sans-serif;
  transition: background-color 0.3s ease; 
}

.social-button:hover {
  background-color: #1A3348; 
}

.social-logo {
  width: 20px;
  height: 20px;
  margin-right: 10px; 
}

.payment-section {
  display: flex;
  flex-direction: row; 
  background-color: #1A2C38;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto; 
  width: 90%; 
  max-width: 1600px; 
  min-height: 300px; 
}

.payment-image-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 22px;
}

.payment-options {
  display: flex;
  flex-direction: column;
  gap: 30px; 
}

.payment-row {
  display: flex;
  gap: 50px; 
  justify-content: center;
}

.payment-row:first-child {
  margin-top: 20px;
}

.payment-logo {
  width: 115px; 
  height: auto;
}

.payment-text-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start; 
  padding: 20px;
  padding-left: 40px; 
  font-family: 'Fredoka', sans-serif; 
  font-weight: 550;
  background-color: #1C313F;
}

.payment-text-container h2 {
  color: white;
  margin: 0;
  font-weight: 550;
  font-size: 40px; 
  font-family: 'Fredoka', sans-serif; 
  padding-top: 5px;
}

.payment-text-container p {
  color: white;
  margin: 10px 0;
  font-weight: 550;
  font-size: 30px;
}

.payment-text-container .highlight {
  color: #FFD700;
}

.payment-deposit-button {
  background-color: #834DF7;
  color: white;
  border: none;
  padding: 20px 80px; 
  border-radius: 10px;
  font-size: 28px; 
  font-weight: 550;
  margin-top: 50px; 
  font-family: 'Fredoka', sans-serif;
  transition: background-color 0.3s ease; 
}

.payment-deposit-button:hover {
  background-color: #5B37A7; 
}

.bottom-sections.no-background {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  width: 90%;
  max-width: 1600px;
  background-color: transparent !important; 
  box-sizing: border-box; 
}

.casino-container, .sportsbook-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: flex-start; 
  border-radius: 10px;
  padding: 40px;
  width: calc(50% - 85px); 
  height: 250px; 
  text-align: left;
  color: white;
  transition: transform 0.3s ease; 
}

.casino-container:hover, .sportsbook-container:hover {
  transform: translateY(-10px); 
}

.casino-container {
  background: linear-gradient(to bottom, #254AA5 0%, #0E1C3F 100%); 
}

.sportsbook-container {
  background: linear-gradient(to bottom, #FBBC04 0%, #957002 100%); 
}

.casino-container h2, .sportsbook-container h2 {
  font-size: 45px;
  margin: 0;
  font-family: 'Fredoka', sans-serif; 
  font-weight: 550;
}

.casino-container p, .sportsbook-container p {
  font-size: 23px;
  margin: 10px 0 0 0;
  font-family: 'Fredoka', sans-serif; 
  font-weight: 550;
}
