@keyframes popupEnter {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes popupExit {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0);
    opacity: 0;
  }
}

.popup-overlay {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 300px;
  height: auto;
  background: none;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  z-index: 1000;
  pointer-events: none;
  padding: 20px;
}

.popup-content {
  background: #213743;
  border-radius: 10px;
  color: #ffffff;
  width: 400px;
  height: 500px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1001;
  pointer-events: all;
  animation: popupEnter 0.3s ease-out forwards;
}

.popup-content.hide {
  animation: popupExit 0.3s ease-out forwards;
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
}
