.promotions-header-section {
  background-color: #213643;
  padding: 25px 85px;
  background-image: url('./img/BannerPicture.png');
  background-position: calc(100% - 50px) center;
  background-size: 400px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0 0;
}

.promotions-title {
  font-family: 'Fredoka', sans-serif;
  font-weight: 550;
  color: #ffffff;
  font-size: 39px;
  margin-top: 0;
  margin-bottom: 0;
}

.promotions-section {
  padding: 20px;
  width: 100%;
}

.promotions-categories {
  display: flex;
  gap: 20px;
  width: calc(100% - 40px);
  padding: 0 20px;
  box-sizing: border-box;
}

.promotions-category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #213643;
  color: #ffffff;
  width: calc(50% - 10px);
  height: 100px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  transition: background-color 0.25s ease;
}

.promotions-category:hover {
  background-color: #2f4553;
}

.promotions-category span {
  margin-left: 100px;
  font-size: 20px;
  font-weight: 550;
}

.promotions-category-icon {
  width: 100px;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.casino-icon {
  background-image: url('./img/PromotionsCasino.png');
}

.sports-icon {
  background-image: url('./img/PromotionsSports.png');
}

.category-arrow {
  font-size: 24px;
  margin-right: 2rem;
  color: #B1BAD3;
  transition: transform 0.25s ease;
}

.promotions-category:hover .category-arrow {
  transform: translate(0.2em);
}

.latest-promotions-section {
  padding: 20px;
  width: 100%;
}

.latest-promotions-title {
  font-size: 30px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-weight: 550;
  margin-top: 10px;
}

.latest-promotions-grid {
  padding-left: 20px;
  display: grid;
  width: calc(97.6% - 40px);
  gap: 2rem 1.5rem;
  align-items: start;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.promotion-item {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.promotion-icon {
  transition: transform 0.3s;
  aspect-ratio: 40/21;
  border-radius: .25rem;
  outline-offset: .125rem;
  width: 100%;
  height: auto;
  display: block;
}

.promotion-item:hover .promotion-icon {
  transform: translateY(-.3em);
}

.promotion-content {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  border: 0;
}

.promotion-end-time {
  text-align: left;
  line-height: 1.5;
  justify-content: flex-start;
  font-size: .75rem;
  color: #B1BAD3;
}

.promotion-title {
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 550;
  line-height: 132%;
  text-align: left;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
