@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;550&display=swap');

.sidebar {
  background-color: #1A2C38;
  color: #f5f6fa;
  min-height: 100vh;
  height: 90%;
  padding: 0 10px; 
  font-family: 'Fredoka', sans-serif;
  position: relative;
}

.sidebar.betslip-open .popup {
  margin-left: 300px;
}

.nav {
  list-style-type: none;
  padding: 0 10px 0 10px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.nav-item {
  margin-bottom: 10px;
  font-size: 13px;
  font-weight: 550;
  color: #CECECE;
  background-color: transparent;
  text-decoration: none;
  display: block;
}

.grouped-items {
  background-color: #214055;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 147px;
}

.grouped-items .nav-item {
  margin-bottom: 17px;
  display: flex;
  align-items: center;
}

.grouped-items .nav-item:last-child {
  margin-bottom: 0;
}

.grouped-items:hover {
  cursor: pointer;
}

.nav-category-header {
  background-color: #2F5C7A;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 550;
  padding: 10px;
  border-radius: 5px 5px 0 0;
  width: 147px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sub-nav {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 0;
  background-color: #214055;
  padding: 10px 10px 0;
  border-radius: 0 0 5px 5px;
  width: 147px;
  min-height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.sub-nav.expanded {
  height: auto;
}

.sub-nav li {
  margin-bottom: 17px;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.nav-item a {
  color: #CECECE;
  text-decoration: none;
  font-size: 13px;
  font-weight: 550;
  display: flex;
  align-items: center;
}

.nav-item a:hover {
  color: #c4dff6;
  transition: color 0.3s;
}

.nav-item li:hover,
.sub-nav li:hover,
.grouped-items .nav-item:hover {
  color: #c4dff6;
  transition: color 0.3s;
}

.sub-nav li:last-child {
  margin-bottom: 5px;
}

.language-dropdown {
  list-style: none;
  padding: 0;
  background-color: #2F5C7A;
  border-radius: 5px;
  overflow: hidden;
}

.language-dropdown li {
  cursor: pointer;
  color: #CECECE;
}

.language-dropdown li:hover {
  background-color: #214055;
  color: #FFFFFF;
}

.language-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #CECECE;
  width: calc(100% - 10px);
  border-radius: 5px;
}

.language-item.selected {
  background-color: #214055;
  color: #FFFFFF;
}

.language-item .checkmark {
  margin-left: auto;
  padding-left: 10px;
}

.nav-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.sub-nav-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
